#course-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background: $phc;
  height: 50rem;
  margin-left: 1rem;
  padding: 1rem;
  overflow-y: scroll;

  .course {
    box-sizing: border-box;
    flex: 1 19rem;
    height: 19rem;
    background: gray;
    margin: .5rem;
    padding: .5rem;
  }
}
